@import '../../utils/variables.scss';

.posts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 64px;
  &__first-post {
    margin-bottom: 24px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__message {
    flex-grow: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 20px;
  }
}
