.preloader {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    width: 20%;
    aspect-ratio: 1/1;
    background-image: url('../../images/spinner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
